:root {
    --header_font: 'poppins';
    --main_title: 'bebas';
    --info_movie: 'inter';
    --release_date_font: 'oswald';
}

@font-face {
    font-family: 'poppins';
    src: url('/public/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'bebas';
    src: url('/public/fonts/bebas_neue/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('/public/fonts/inter/Inter-Regular.otf');
}

@font-face {
    font-family: 'oswald';
    src: url('/public/fonts/oswald/Oswald-Medium.ttf');
}